@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader {
  display: flex;
  gap: 8px;
}

.loader span {
  width: 14px;
  height: 14px;
  background: #f29007;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.6;
  }
  to {
    transform: translateY(-16px);
    opacity: 1;
  }
}

/* Custom horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px; /* patla scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* light gray */
  border-radius: 999px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover par scrollbar visible */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

/* Custom Orange Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fef3e4; /* light orange track */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f97316; /* orange thumb */
  border-radius: 8px;
  border: 2px solid #fef3e4; /* space around thumb */
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #f97316 #fef3e4; /* thumb track */
}

